html,body{
  width: 98%;
  height: 98%;
  background-image: url("bg.png") !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;

}
input{
  position: relative;
  top: 50%;
  left: 50%;
}

.modalLeaderboard{
  display: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(45,45,45, 0.90);
  border-radius: 20px;
  padding: 8rem;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }