html,body{
  width: 99%;
  height: 99%;
  background-image: url("bg.png") !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;

}
.input{
  position: relative;
  top: 49%;
  left: 49%;
}
.xbutton{
  width: auto;
  background: transparent;
  border: none !important;
  position:absolute;
  color:white;
  top:0;
  right:0;
  margin-top:0.825rem;
  margin-right: -40%;
}
.leaderboard{
  position:absolute;
  color:black;
  top: 0%;
  right: 0%;
  margin: 0.5rem;
}
.modalLeaderboard{
  display: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(20, 20, 20, 0.938);
  border-radius: 20px;
  padding: 8rem;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  }

  textarea.scoreboard{
  resize:none;
  }